body {
  margin: 0;
  padding: 0;
  background-color: #1E1E1E;
  color: white;
}

h1 {
  color: white;
  margin-top: 60px;
}

#content {
  margin-left: 10px;
  margin-right: auto;
  width: 700px;
  display: flex;
}

.fadein {
  animation: fadeIn ease 1s;
}

.topnav {
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #3D3D3D;
}

.topnav a.active {
  background-color: #32C7BD;
  color: white;
}

#quotes {
  margin-left: 10px;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

#lightscape {
  margin-left: 20px;
  margin-right: 20px;
}

.gallery {
  margin: 0;
}

.gallery img {
  animation: fadeIn ease 1s;
  padding: 15px;
  height: 300px;
  border: 5;
}

.gallery img:hover {
    filter: grayscale();
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
