body {
  margin: 0;
  padding: 0;
  background-color: #1E1E1E;
  color: white;
}

h1 {
  color: white;
  margin-top: 60px;
  margin-left: 10px;
}

#content {
  float: left;
  margin-left: 10px;
  margin-right: auto;
  width: 700px;
  display: flex;
}

.fadein {
  animation: fadeIn ease 1s;
}

.topnav {
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.dropdown {
  float: right;
}

.dropdownbutton div {
  width: 20px;
  height: 2px;
  background-color: white;
  margin: 3px 0;
}

.dropdown .dropdownbutton {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdowncontent {
  display: none;
  position: fixed;
  right: 0;
  background-color: #333;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdowncontent a {
  float: right;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}

.topnav a:hover, .dropdown:hover .dropdownbutton, .dropdownbutton a:hover {
  background-color: #32C7BD;
}

.dropdown:hover .dropdowncontent {
  display: block;
}

.topnav a.active {
  color: #FFDF00;
}

#numComments {
  margin-left: 20px;
}

#numComments button {
  border: none;
  text-decoration: none;
  background-color: #333;
  color: white;
  padding: 8px 8px;
  text-align: left;
  display: block;
  float: left;
}

#numComments button:hover {
  background-color: #32C7BD;
}

.commentsOrder {
  float: left;
  display: inline-block;
  margin-left: 20px;
}

#comments-section {
  grid-area: comments;
}

#display-comments {
  display: block;
  color: white;
  padding: 16px 16px;
  text-align: left;
  margin-left: 20px;
}

#display-comments p {
  margin: 20px 20px;
  padding: 16px 16px;
  width: 700px;
  display: block;
  background-color: #333;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

#display-comments p:hover {
  background-color: #101010;
}

#quotes {
  margin-left: 10px;
  margin-right: auto;
  width: 650px;
}

#htmlforms {
  grid-area: input;
  margin-top: 10px;
  justify-self: left;
}

#greeting-container {
  margin-top: 20px;
}

#lightscape {
  margin-left: 20px;
  margin-right: 20px;
}

.gallery {
  margin: 0;
}

.gallery img {
  animation: fadeIn ease 1s;
  padding: 15px;
  height: 300px;
  border: 5;
}

.gallery img:hover {
  filter: grayscale();
}

#login {
  display: hidden;
}

.index-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  align-items: start;
  column-gap: 15px;
  grid-template-areas:
    "about charts";
}

#about {
  grid-area: about;
}

#charts-id {
  grid-area: charts;
}

.comments-container {
  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
  grid-template-rows: 210px auto;
  align-items: start;
  row-gap: 15px;
  column-gap: 15px;
  grid-template-areas:
    ". input ui ."
    ". comments . .";
}

#user-interface {
  grid-area: ui;
}

#user-interface a {
  color: white;
  text-decoration: none;
  width: 100px;
  text-align: center;
  display: block;
  background-color: #333;
  padding: 14px 16px;
}

#user-interface a:hover {
  background-color: #32C7BD;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
